@import 'tailwindcss';
@import 'tw-animate-css';
@import 'shadcn-svelte/tailwind.css';
@import '@fontsource-variable/geist';
@import '@fontsource-variable/geist-mono';
@import '@fontsource/playfair-display';
@import '@fontsource/ibm-plex-sans';
@import '@fontsource/ibm-plex-serif';
@import '@fontsource/ibm-plex-mono';
@import '@fontsource/lato/400.css';
@import '@fontsource/lato/700.css';
@import '@fontsource/lato/900.css';

@custom-variant dark (&:is(.dark *));
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

:root {
	--background: #f1ede6;
	--card: #ebe5dc;
	--popover: #f1ede6;
	--secondary: #e4ddd2;
	--muted: #e6dfd4;
	--accent: #ddd5ca;
	--border: #cfc6b8;
	--input: #cfc6b8;

	--foreground: #2f2b26;
	--card-foreground: #2f2b26;

	--popover-foreground: #252525;
	--primary: #0f62fe;
	--primary-foreground: #ffffff;

	--secondary-foreground: #252525;

	--muted-foreground: #6f6b66;

	--accent-foreground: #252525;
	--destructive: #da1e28;
	--destructive-foreground: #ffffff;

	--ring: #0f62fe;

	--chart-1: #0f62fe;
	--chart-2: #4589ff;
	--chart-3: #78a9ff;
	--chart-4: #a6c8ff;
	--chart-5: #0043ce;

	--sidebar: #ece8e3;
	--sidebar-foreground: #252525;
	--sidebar-primary: #0f62fe;
	--sidebar-primary-foreground: #ffffff;
	--sidebar-accent: #dcd8d2;
	--sidebar-accent-foreground: #252525;
	--sidebar-border: #d3cec7;
	--sidebar-ring: #0f62fe;

	--font-sans: IBM Plex Sans, ui-sans-serif, sans-serif, system-ui;
	--font-serif: IBM Plex Mono, ui-monospace, monospace;
	--font-mono: IBM Plex Mono, ui-monospace, monospace;

	--radius: 0rem;
	--shadow-x: 4px;
	--shadow-y: 4px;
	--shadow-blur: 0px;
	--shadow-spread: 1px;
	--shadow-opacity: 0.5;
	--shadow-color: oklch(0 0 0);
	--shadow-2xs: 4px 4px 0px 1px hsl(0 0% 0% / 0.25);
	--shadow-xs: 4px 4px 0px 1px hsl(0 0% 0% / 0.25);
	--shadow-sm: 4px 4px 0px 1px hsl(0 0% 0% / 0.5), 4px 1px 2px 0px hsl(0 0% 0% / 0.5);
	--shadow: 4px 4px 0px 1px hsl(0 0% 0% / 0.5), 4px 1px 2px 0px hsl(0 0% 0% / 0.5);
	--shadow-md: 4px 4px 0px 1px hsl(0 0% 0% / 0.5), 4px 2px 4px 0px hsl(0 0% 0% / 0.5);
	--shadow-lg: 4px 4px 0px 1px hsl(0 0% 0% / 0.5), 4px 4px 6px 0px hsl(0 0% 0% / 0.5);
	--shadow-xl: 4px 4px 0px 1px hsl(0 0% 0% / 0.5), 4px 8px 10px 0px hsl(0 0% 0% / 0.5);
	--shadow-2xl: 4px 4px 0px 1px hsl(0 0% 0% / 1.25);
	--tracking-normal: 0em;
	--spacing: 0.25rem;
}

.dark {
	--background: #161616;
	--foreground: #f4f4f4;
	--card: #262626;
	--card-foreground: #f4f4f4;
	--popover: #262626;
	--popover-foreground: #f4f4f4;
	--primary: #4589ff;
	--primary-foreground: #ffffff;
	--secondary: #393939;
	--secondary-foreground: #f4f4f4;
	--muted: #262626;
	--muted-foreground: #c6c6c6;
	--accent: #393939;
	--accent-foreground: #f4f4f4;
	--destructive: #fa4d56;
	--destructive-foreground: #ffffff;
	--border: #393939;
	--input: #525252;
	--ring: #4589ff;

	--chart-1: #4589ff;
	--chart-2: #78a9ff;
	--chart-3: #a6c8ff;
	--chart-4: #0f62fe;
	--chart-5: #0043ce;

	--sidebar: #161616;
	--sidebar-foreground: #f4f4f4;
	--sidebar-primary: #4589ff;
	--sidebar-primary-foreground: #ffffff;
	--sidebar-accent: #262626;
	--sidebar-accent-foreground: #f4f4f4;
	--sidebar-border: #393939;
	--sidebar-ring: #4589ff;

	--font-sans: IBM Plex Sans, ui-sans-serif, sans-serif, system-ui;
	--font-serif: IBM Plex Mono, ui-monospace, monospace;
	--font-mono: IBM Plex Mono, ui-monospace, monospace;

	--radius: 0rem;
	--shadow-x: 4px;
	--shadow-y: 4px;
	--shadow-blur: 0px;
	--shadow-spread: 1px;
	--shadow-opacity: 0.5;
	--shadow-color: oklch(0 0 0);
	--shadow-2xs: 4px 4px 0px 1px hsl(0 0% 0% / 0.25);
	--shadow-xs: 4px 4px 0px 1px hsl(0 0% 0% / 0.25);
	--shadow-sm: 4px 4px 0px 1px hsl(0 0% 0% / 0.5), 4px 1px 2px 0px hsl(0 0% 0% / 0.5);
	--shadow: 4px 4px 0px 1px hsl(0 0% 0% / 0.5), 4px 1px 2px 0px hsl(0 0% 0% / 0.5);
	--shadow-md: 4px 4px 0px 1px hsl(0 0% 0% / 0.5), 4px 2px 4px 0px hsl(0 0% 0% / 0.5);
	--shadow-lg: 4px 4px 0px 1px hsl(0 0% 0% / 0.5), 4px 4px 6px 0px hsl(0 0% 0% / 0.5);
	--shadow-xl: 4px 4px 0px 1px hsl(0 0% 0% / 0.5), 4px 8px 10px 0px hsl(0 0% 0% / 0.5);
	--shadow-2xl: 4px 4px 0px 1px hsl(0 0% 0% / 1.25);
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-card: var(--card);
	--color-card-foreground: var(--card-foreground);
	--color-popover: var(--popover);
	--color-popover-foreground: var(--popover-foreground);
	--color-primary: var(--primary);
	--color-primary-foreground: var(--primary-foreground);
	--color-secondary: var(--secondary);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-muted: var(--muted);
	--color-muted-foreground: var(--muted-foreground);
	--color-accent: var(--accent);
	--color-accent-foreground: var(--accent-foreground);
	--color-destructive: var(--destructive);
	--color-destructive-foreground: var(--destructive-foreground);
	--color-border: var(--border);
	--color-input: var(--input);
	--color-ring: var(--ring);
	--color-chart-1: var(--chart-1);
	--color-chart-2: var(--chart-2);
	--color-chart-3: var(--chart-3);
	--color-chart-4: var(--chart-4);
	--color-chart-5: var(--chart-5);
	--color-sidebar: var(--sidebar);
	--color-sidebar-foreground: var(--sidebar-foreground);
	--color-sidebar-primary: var(--sidebar-primary);
	--color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
	--color-sidebar-accent: var(--sidebar-accent);
	--color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
	--color-sidebar-border: var(--sidebar-border);
	--color-sidebar-ring: var(--sidebar-ring);

	--font-sans: var(--font-sans);
	--font-mono: var(--font-mono);
	--font-serif: var(--font-serif);

	--radius-sm: calc(var(--radius) - 4px);
	--radius-md: calc(var(--radius) - 2px);
	--radius-lg: var(--radius);
	--radius-xl: calc(var(--radius) + 4px);

	--shadow-2xs: var(--shadow-2xs);
	--shadow-xs: var(--shadow-xs);
	--shadow-sm: var(--shadow-sm);
	--shadow: var(--shadow);
	--shadow-md: var(--shadow-md);
	--shadow-lg: var(--shadow-lg);
	--shadow-xl: var(--shadow-xl);
	--shadow-2xl: var(--shadow-2xl);
}

@layer base {
	* {
		@apply border-border outline-ring/50;
	}
	body {
		@apply bg-background text-foreground;
	}
}
